@{
    ViewData["Title"] = "Home Page";
}
<h1>KeyValueTypesComprasion</h1>
<p>
    Dictionary, Hashtable, Hashset, List, ConcurrentDictionary, SortedDictionary comprasion.
</p>

<table class="table">
  <thead>
    <tr>
      <th scope="col">#</th>
      <th scope="col">Type</th>
      <th scope="col">Count</th>
      <th scope="col">Add</th>
      <th scope="col">Contains</th>
      <th scope="col">Remove</th>
    </tr>
  </thead>
  <tbody>
    <tr>
      <th scope="row">Dictionary</th>
      <td>
        <input type="number" value="10000" />
      </td>
      <td>
        <button type="button" class="btn btn-success"><i class="fas fa-play"></i></button>
      </td>
      <td>1.000ms</td>
      <td>1.000ms</td>
      <td>1.000ms</td>
    </tr>
    <tr>
      <th scope="row">Hashtable</th>
      <td>
        <input type="number" value="10000" />
      </td>
      <td>
        <button type="button" class="btn btn-success"><i class="fas fa-play"></i></button>
      </td>
      <td>1.000ms</td>
      <td>1.000ms</td>
      <td>1.000ms</td>
    </tr>
    <tr>
      <th scope="row">Hashset</th>
      <td>
        <input type="number" value="10000" />
      </td>
      <td>
        <button type="button" class="btn btn-success"><i class="fas fa-play"></i></button>
      </td>
      <td>1.000ms</td>
      <td>1.000ms</td>
      <td>1.000ms</td>
    </tr>
    <tr>
      <th scope="row">List</th>
      <td>
        <input type="number" value="10000" />
      </td>
      <td>
        <button type="button" class="btn btn-success"><i class="fas fa-play"></i></button>
      </td>
      <td>1.000ms</td>
      <td>1.000ms</td>
      <td>1.000ms</td>
    </tr>
    <tr>
      <th scope="row">ConcurrentDictionary</th>
      <td>
        <input type="number" value="10000" />
      </td>
      <td>
        <button type="button" class="btn btn-success"><i class="fas fa-play"></i></button>
      </td>
      <td>1.000ms</td>
      <td>1.000ms</td>
      <td>1.000ms</td>
    </tr>
    <tr>
      <th scope="row">SortedDictionary</th>
      <td>
        <input type="number" value="10000" />
      </td>
      <td>
        <button type="button" class="btn btn-success"><i class="fas fa-play"></i></button>
      </td>
      <td>1.000ms</td>
      <td>1.000ms</td>
      <td>1.000ms</td>
    </tr>
  </tbody>
</table>