@{
    ViewData["Title"] = "Home Page";
}
<h1>KeyValueTypesComprasion</h1>
<p>
    Dictionary, Hashtable, Hashset, List, ConcurrentDictionary, SortedDictionary comprasion.
</p>

<table class="table">
  <thead>
    <tr>
      <th scope="col"># Type</th>
      <th scope="col">Contains</th>
      <th scope="col">Add</th>
      <th scope="col">Remove</th>
    </tr>
  </thead>
  <tbody>
    <tr>
      <th scope="row">Dictionary</th>
      <td>1.000ms</td>
      <td>1.000ms</td>
      <td>1.000ms</td>
    </tr>
    <tr>
      <th scope="row">Hashtable</th>
      <td>1.000ms</td>
      <td>1.000ms</td>
      <td>1.000ms</td>
    </tr>
    <tr>
      <th scope="row">Hashset</th>
      <td>1.000ms</td>
      <td>1.000ms</td>
      <td>1.000ms</td>
    </tr>
    <tr>
      <th scope="row">List</th>
      <td>1.000ms</td>
      <td>1.000ms</td>
      <td>1.000ms</td>
    </tr>
    <tr>
      <th scope="row">ConcurrentDictionary</th>
      <td>1.000ms</td>
      <td>1.000ms</td>
      <td>1.000ms</td>
    </tr>
    <tr>
      <th scope="row">SortedDictionary</th>
      <td>1.000ms</td>
      <td>1.000ms</td>
      <td>1.000ms</td>
    </tr>
  </tbody>
</table>